<?php echo $header; $col = $column_left ? 9 : 12; $col = $column_right ? $col - 3 : $col; ?>
	<main class="content">
		<?php echo $content_top; ?>
		<?php echo $content_bottom; ?>
	</main>
<?php echo $footer; ?></body></html>