
@font-face {
  font-family: 'ALSRubl';
  src: url('../fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ALSRubl/ALSRubl.woff') format('woff'), 
  url('../fonts/ALSRubl/ALSRubl.ttf')  format('truetype'), 
  url('../fonts/ALSRubl/ALSRubl.svg#ALSRubl') format('svg');
  font-weight: normal;
  font-style: normal;
}